<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회 수</th>
                <th>추천 수</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}" th:onclick="'window.location.href=\'' + @{/board/{id} (id=${board.boardNo})}+'\''">
                    <td th:text="${board.boardNo}"></td>
                    <td th:text="${board.boardTitle}"></td>
                    <td th:text="${board.boardWriter}"></td>
                    <td th:text="${board.boardView}"></td>
                    <td th:text="${board.boardVote}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>